:root {
  --max-width: 1100px;
  /* --border-radius: 12px;  */
}

#navbar{
  background-color:blueviolet;
  margin-top:-40px;
}

#landingpage{
  text-align:center;
  background-color: black;
}

#answers{
  padding-top:30px; 
  padding-bottom:30px;
}

#arrow:hover{
  background-color:grey;
  border-radius:50%;
}

.button{
  background-color:turquoise; 
  color:black; 
  padding:14px; 
  border-radius:10px;
  border: 2px solid black;
  margin: 5px;
  width:150px;
}

.button:hover{
  background-color:#ff748c ;
}


#button5{
  background-color:blueviolet; 
  color:white; 
  padding:14px; 
  border-radius:10px;
  border: 2px solid black;
  margin: 20px;
}

#button5:hover{
  background-color:#ff748c ;
}

h4{
  color:white;
  text-align:center;
 }
 
h3{
  font-size: 40px;
  color:white;
  text-align:center;
  padding-top:20px;
 }

 .subtitle{
  font-size: 40px;
  color:black;
  text-align:center;
  padding-top:20px;
 }

h2{
 font-size: 40px;
 color:turquoise;
}

h1{
  padding-top: 30px;  
  font-size: 70px;
}

#imagecontainer{
  height: 500px;
  width: 600px; 
  margin:auto; 
}

#dogpic{
 max-width: 600px;
  height: 100%;
  border:6px solid blueviolet;
}

#paw{
text-align:center;
margin-top:-50px;
margin-bottom:-50px;
}

#footer{
  background-color:blueviolet;
  padding-top:20px;
  padding-bottom:20px;
}

html {
  scroll-behavior: smooth;
}


@media only screen and (max-width: 600px) {
  #imagecontainer{
    height: 200px;
    width: 350px; 
    margin:auto; 
  }
  #dogpic{
    max-width: 350px;
     height: 100%;
     border:6px solid blueviolet;
   }
}

